

.ngo1 {
    background: url(https://images.unsplash.com/flagged/photo-1569118311341-145748f3f338?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80);
    height: 25rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 3rem 3rem;
    margin-top: 3rem;
}

img {
    mix-blend-mode: multiply;
    isolation: isolate;
    width: 33.2rem;
}

h1 {
    font-family: gilroy-extra-bold;
    font-size: 1.5rem;
    color: #fff;
    padding-top: 0rem;
    text-align: center;
    font-weight: 500;
    margin-top: -27rem;
    z-index: 20;
}

h4 {
    font-family: gilroy-extra-bold;
    color: #fff;
    font-size: 1rem;
    padding-top: 0;
    margin-top: -.6rem;
    text-align: center;
}

hr {
    width: 10rem;
    color: #fff;
    height: 1px;
    background-color: #fff;
    margin-top: -.6rem;
}

h2 {
    font-family: gilroy-extra-bold;
    width: 25rem;
    color: #fff;
    margin-left: 5rem;
    font-weight: 700;
    font-size: 1.6rem;
}

.text {
    position: absolute;
    z-index: 999;
}

.button1 {
    background: linear-gradient(-90deg, #c271bd, #8a3585);
    color: #fff;
    font-family: gilroy-extra-bold;
    font-size: 1.1rem;
    height: 3rem;
    width: 8rem;
    border-radius: 2rem;
    margin-left: 85%;
    border: none;
    cursor: pointer;
    margin-top: 12rem;
}

.f {
    color: blueviolet;
    display: inline-flex;
    justify-content: space-between;
    font-size: 1rem;
}

.we-em {
   
    color: #fff;
    z-index: 8;
}

h3 {
    font-family: gilroy-extra-bold;
    margin-left: 13rem;
    font-size: 1.2remS;
}

h5 {
    font-family: gilroy-extra-bold;
    font-size: 1rem;
}

.edu1 {
    height: 2rem;
    width: 2rem;
    display: inline-flex;
    margin-top: 1rem;
    margin-right: 1rem;
}

.education1 {
    display: inline-flex;
    margin-right: 7rem;
    margin-left: 10rem;
    margin-top: .3rem;
    color: blueviolet;
}

@media(max-width:1366px) {
    .ngo1 {
        height: 22rem;
    }
    img {
        width: 29.5rem;
    }
    h3 {
        margin-left: 11rem;
        font-size: 1.2remS;
    }
    h1 {
        padding-top: 3rem;
    }
    h4 {
        color: #fff;
        font-size: 1rem;
        padding-top: 0;
        margin-top: -.6rem;
        text-align: center;
    }
    h2 {
        font-weight: 500;
        font-size: 1.5rem;
    }
    .text {
        position: absolute;
        z-index: 999;
    }
    h3 {
        margin-left: 13rem;
        font-size: 1.1rem;
    }
    .button1 {
        margin-top: 9rem;
    }
}

@media(max-width:1280px) {
    .ngo1 {
        height: 20rem;
    }
    img {
        width: 27.5rem;
    }
    h1 {
        padding-top: 4rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    h2 {
        font-weight: 300;
        font-size: 1.5rem;
    }
    h3 {
        margin-left: 10rem;
        font-size: 1.1rem;
    }
    .button1 {
        margin-top: 7.5rem;
    }
}